<a href="https://colab.research.google.com/github/Lanovaade/Basic-Python-Programming-for-Data-Science/blob/main/LANOVA_ADE_R_1800015088_List_dan_Dictionary_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Buatlah sebuah list dengan elemen bilangan kelipatan 5 dengan panjang elemen sejumlah 100

In [ ]:
#Tuliskan kodemu di bawah ini;

bilangan = [x*5 for x in range (100)]
print(bilangan)
print(len(bilangan))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495]
100

2. Buatlah sebuah dictionary dengan jumlah elemen 100 dan lakukanlah beberapa modifikasi(minimal 3) di dalamnya.

In [ ]:
#Tuliskan kodemu di bawah ini:

#membuat dictionary
nomor=[]
for i in range(1,100):
      nomor.append(i)
print(nomor)

#Modifikasi 1
nomor.insert(2,20)
print(nomor)


#Modifikasi 2
nomor.clear()
print(nomor)


#Modifikasi 3
nomor.remove(5):
print(nomor)

SyntaxError: ignored